root{
    --branco-principal: #FFFFFF;
    --cinza-secundario:  #D3D3D3;
    --roxo-botao: #836FFF;
    --cor-de-fundo: #000000; 
   
   }
   body{
       background-color: var(--cor-de-fundo);
       color: var(--branco-principal);
   }
   *{
       margin: 0;
       padding: 0;
   }
   
    .principal {
     background-image: url(Background.png);
     background-repeat: no-repeat;
     background-size: contain;
    }

    .conteiner{
        height: 100vh;
    }
    .img{
        width: 35%;
        margin: 0;
    }